<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://ipa.ipasign.cc:2052/sign/20240827023928711/bf5221f7-6cb7-d4af-833d-f9d7b051e4c2/resign_20240827023928711.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.roblox.robloxmobile</string>
<key>bundle-version</key>
<string>2.638.610</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>Delta</string>
</dict>
</dict>
</array>
</dict>
</plist>
